BR2_aarch64=y
BR2_ARM_FPU_VFPV3=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_15=y
BR2_TARGET_GENERIC_HOSTNAME="ucm-imx8m-plus"
BR2_TARGET_GENERIC_ISSUE="Welcome to CompuLab Buildroot sample rootfs"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_GENERIC_GETTY_PORT="ttymxc1"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/imx/imx8-bootloader-prepare.sh board/freescale/common/imx/post-image.sh board/compulab-aarch64-efi/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="${UBOOT_DIR}/arch/arm/dts/ucm-imx8m-plus.dtb"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/compulab-yokneam/linux-compulab.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="linux-compulab_v5.15.71"
BR2_LINUX_KERNEL_DEFCONFIG="ucm-imx8m-plus"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="${LINUX_DIR}/arch/arm64/configs/compulab.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="compulab/ucm-imx8m-plus compulab/ucm-imx8m-plus-hdmi compulab/ucm-imx8m-plus-headless compulab/ucm-imx8m-plus-ldo4 compulab/ucm-imx8m-plus-lvds compulab/ucm-imx8m-plus-mipi compulab/ucm-imx8m-plus-nopcie compulab/ucm-imx8m-plus-p21 compulab/ucm-imx8m-plus-rpmsg compulab/ucm-imx8m-plus-uart1 compulab/ucm-imx8m-plus-usbdev compulab/ucm-imx8m-plus-wm8731"
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_PACKAGE_FREESCALE_IMX=y
BR2_PACKAGE_FREESCALE_IMX_PLATFORM_IMX8MP=y
BR2_PACKAGE_FIRMWARE_IMX=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="120M"
BR2_TARGET_ARM_TRUSTED_FIRMWARE=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_TARBALL=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_TARBALL_LOCATION="$(call github,nxp-imx,imx-atf,lf-5.15.71_2.2.1)/lf-5.15.71_2.2.1.tar.gz"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="imx8mp"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_BL31=y
BR2_TARGET_GRUB2=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/compulab-yokneam/u-boot-compulab.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="u-boot-compulab_v2021.04"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="ucm-imx8m-plus"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-nodtb.bin"
BR2_TARGET_UBOOT_SPL=y
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_IMX_MKIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
